@model IEnumerable<Jellow2._0.Database.Project>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/Content/general-styling.css" />

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p class="create-new"> 
        @Html.ActionLink("Create New", "Create", null, new { @class = "basic-hyperlink" })
    </p>
    <table class="index-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillRequirement)
            </th>
            <th>
                Consumer
            </th>
            <th>
                Company
            </th>
            <th>
                Filled By
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience) years
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillRequirement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freelancer.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }, new { @class = "basic-hyperlink" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProjectID }, new { @class = "basic-hyperlink" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID }, new { @class = "basic-hyperlink" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
