@model IEnumerable<Jellow2._0.Database.Job>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/general-styling.css" />


<p class="create-new">
    @Html.ActionLink("Create New", "Create", null, new { @class = "basic-hyperlink" })
</p>
<table class="index-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillRequirement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Freelancer.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience) years
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillRequirement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freelancer.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobID }, null, new { @class = "basic-hyperlink" }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobID }, null, new { @class = "basic-hyperlink" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobID }, null, new { @class = "basic-hyperlink" })
            </td>
        </tr>
    }

</table>
