@model Jellow2._0.Database.Freelancer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/general-styling.css" />

<h2>Details</h2>

<div>
    <h4>Freelancer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Employed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            Project List
        </dt>
        @foreach (var item in Model.ProjectsList)
        {
            <dd>
                
                @item.ProjectID
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FreelancerID }, new { @class = "basic-hyperlink" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "basic-hyperlink" })
</p>
